{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'login.css' %}" rel="stylesheet">
    <title>Login | Inventory</title>
</head>
<body>
    <div class="main">
        <h1>Inventory</h1>
        <h3>Enter your login credentials</h3>
        <div class="error">{{error_message}}</div>
        <form action="/" method="post">
            {% csrf_token %}
            <label>
                Username:
            </label>
            <input type="text"  name="username" placeholder="Enter your Username" required>
    
            <label>
                Password:
            </label>
            <input type="password"name="password" placeholder="Enter your Password" required>
    
            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        <p>Not registered?
            <a href="#" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
</body>
</html>